body {
   background-color: #000;   
	
}

button{
background-color: white;
}
.container-fluid{

}
.next-tier-view{
background-color: '';
}



.nonormalMap{

margin-top:80px;
}

#details{
float: left;
margin-top:50px;
width: 20%;
}

#map{
float: right;
width: 75%;
line-height:2.0em;
height:195px;
}


.inputElements{
width: 80%;

}

h4{
float: right;

}

#timer{
float: left;
}

#next{
}
