body {
   background-color: #FEB;   
   height: 300px;
width: 80%;
margin-top:50px;
margin-left:130px;
margin-right:50px;
}
button{
background-color: #f00;
}
.container-fluid{
background-color: white;

}
.next-tier-view{
background-color: #FEB;
float:right;
}